extends layout

block content
  
  div.sticky
    div#map
  
  div#rawBook !{rawBook}

  h1 Places

  div#places

  div#cookBook

  script.
    window.onload = onLoad
   
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrmOv7c979sXJumeKkJ2U8VnYgT-iZWGk&callback=initMap")
