extends layout

block content
  
  //div.sticky
    div#map
  
  h1 Places

  div#places

  h1 People

  div#people

  div#books

  script.
    window.onload = onLoad("#{JSON.stringify(rawBook)}");
   
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrmOv7c979sXJumeKkJ2U8VnYgT-iZWGk&callback=initMap")
