extends layout

block content
  
  div.sticky
    div#map
  
  div#book !{rawBook}
  
  script.
    window.onload = onLoad
   
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrmOv7c979sXJumeKkJ2U8VnYgT-iZWGk&callback=initMap")
