h1 {
    font-family: verdana;
    font-size: 16pt;
}

h2 {
    font-family: verdana;
    font-size: 12pt;
}

p {
    font-family: verdana;
    font-size: 10pt;
}

.other {
    color: yellowgreen;
}

.royalty {
    color: purple;
}

.catholic {
    color: darkred;
}

.protestant {
    color: blue;
}

.place {
    color: green;
}

.date {
    color: orange;
}

.martyrdom {
    color: red;
}

.martyr {
    color: red;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: gray;
    font-family: verdana;
    font-size: 10pt;
    font-weight: normal;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-family: verdana;
    font-size: 10pt;
    font-weight: normal;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

div.sticky {
    position: fixed;
    margin-left: 500px;
    width: 400px;
    height: 200px;
    background-color: grey;
}

#map {
    width: 400px;
    height: 200px;
    background-color: pink;
}